<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Update</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="fragments/header"></div>
<form th:action="@{/customer-updater/{id}(id=${customer.getCustomerId()})}" th:object="${customer}" method="post">
    <H2>Customer ID</H2>
    <H2 th:text="*{customerId}"></H2>
    <!--    <label>Customer ID: </label>-->
    <!--    <input type="text" th:field="*{id}"/><br>-->
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}"/><br>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"/><br>
    <label>Email:</label>
    <input type="text" th:field="*{email}"/><br>
    <label>Address ID:</label>
    <input type="text" th:field="*{addressId}"/><br>
    <label>Active:</label>
    <input type="text" th:field="*{active}"/><br>
    <button type="submit">Update</button>
</form>
<div th:insert="fragments/footer"></div>
</body>
</html>