<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<h2>Where would you like to rent</h2>
<div class="film-details" th:object="${filmData}">
    <h1 th:text="*{title}"></h1>
</div>
<h2>From?</h2>
<h6>(Please select a location)</h6>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Opening Times</th>
        <th>Postcode</th>
    </tr>
    </thead>
        <tr th:each="store : ${locationData}">
            <td><form><a th:text="${store.getLocationName()}" th:href="@{/rent-confirmation/{filmId}/{locationID}(filmId=${filmData.getFilmId()}, locationID=${store.getLocation_id()})}"></a></form></td>
            <td th:text="${store.getOpeningTimes()}"></td>
            <td th:text="${store.getPostCode()}"></td>
    </tr>
</table>

<div th:insert="fragments/footer"></div>
</body>
</html>